.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  z-index: 3;
  opacity: 1;
  transition: opacity 0.6s cubic-bezier(0.37, 0, 0.63, 1);
}

.feynman__link:hover {
  opacity: 0.6;
}
