.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list:last-child {
  margin-bottom: 16px;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.header__title {
  position: relative;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 3;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 3;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.description {
  display: flex;
  justify-content: center;
}

.description__two-columns {
  margin: 100px 0;
}

.two-columns {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  color: #2f80ed;
  margin: 0;
  width: 175px;
  text-align: justify;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.section-title {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table {
  margin: auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  /* margin-bottom: 20px; */
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0 0 20px;
  /* margin-bottom: 20px; */
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.table__text_no-margin {
  margin: 0;
  /* margin-bottom: 20px; */
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  padding-top: 100px;
  height: 790px;
  position: relative;
  margin-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  position: relative;
  margin: 0 auto;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
}

.feynman__subtitle {
  position: relative;
  margin: 70px auto 0;
  width: 500px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  z-index: 3;
}

.feynman__pic {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.kaufman {
  padding: 90px 0 90px;
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
  margin: 0;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: 1;
}

.section-title_theme_dark {
  margin: 0 auto;
  width: 60%;
  z-index: 2;
  text-align: center;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  margin: 20px auto 0;
  width: 60%;
  z-index: 2;
  text-align: center;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table_theme_dark {
  position: relative;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 60px;
}

.table__heading_theme_dark {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}

.footer__columns {
  min-height: 250px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin: 0;
  color: white;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-heading {
  color: white;
  margin: 0;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
